<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>292805645688-59h3r21al5tgh5dst7p5oadfq079am3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292805645688-59h3r21al5tgh5dst7p5oadfq079am3k</string>
	<key>API_KEY</key>
	<string>AIzaSyClDfxHSiR4VG6z3ki5C5MMKuV7wDY77Kc</string>
	<key>GCM_SENDER_ID</key>
	<string>292805645688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ikambavpn</string>
	<key>PROJECT_ID</key>
	<string>ikamba-1c669</string>
	<key>STORAGE_BUCKET</key>
	<string>ikamba-1c669.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292805645688:ios:aaf949ce015d782555648d</string>
	<key>DATABASE_URL</key>
	<string>https://ikamba-1c669-default-rtdb.firebaseio.com</string>
</dict>
</plist>