PORT=3000
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@example.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
REAL_METRICS=false
MOCK_WG_ENDPOINT_USA=us.example.com:51820
MOCK_WG_ENDPOINT_RWANDA=rw.example.com:51820
MOCK_WG_PUBLIC_KEY_USA=server-public-key-us
MOCK_WG_PUBLIC_KEY_RWANDA=server-public-key-rw
PROVIDER_A_USA_ENDPOINT=usa-a.example.com:51820
PROVIDER_A_USA_PUBKEY=providerA-usa-pubkey
PROVIDER_A_RW_ENDPOINT=rw-a.example.com:51820
PROVIDER_A_RW_PUBKEY=providerA-rw-pubkey
PROVIDER_B_USA_ENDPOINT=usa-b.example.com:51820
PROVIDER_B_USA_PUBKEY=providerB-usa-pubkey
PROVIDER_B_RW_ENDPOINT=rw-b.example.com:51820
PROVIDER_B_RW_PUBKEY=providerB-rw-pubkey
PROVIDER_A_DNS=1.1.1.1
PROVIDER_B_DNS=1.0.0.1
